<!--Sinh viên thực hiện: Nguyễn Nhật Trường-->
@model IEnumerable<do_an_web.Models.News>
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">News List</h2>

    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Create News</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <td>
                @Html.DisplayNameFor(m => m.Tilte)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.Author)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.DateCreate)
            </td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Tilte)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(m => item.DateCreate)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>
        }
    </table>
</div>





