<!--Sinh viên thực hiện: Nguyễn Nhật Trường-->
@model IEnumerable<do_an_web.Models.News>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách tin tức</h2>

    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Thêm tin mới</a>
    </div>
</div>
<br />
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(m => m.Tilte)*@
                    @Html.DisplayName("Tiêu đề")
                </th>
                <th>
                    @*@Html.DisplayNameFor(m => m.Author)*@
                    @Html.DisplayName("Tác giả")
                </th>
                <th>
                    @*@Html.DisplayNameFor(m => m.DateCreate)*@
                    @Html.DisplayName("Ngày viết")
                </th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Tilte)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.DateCreate)
                    </td>
                    <td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </td>
                </tr>
            }
</table>
</div>





