@model List<do_an_web.Models.Product>
<br />
<div class="container">
    <div class="row">
        <div class="col-4">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Danh mục sản phẩm</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var std in ViewData["Category"] as IList<Category>)
                    {
                        <tr>
                            <td>
                                <a asp-action="Index" asp-controller="Home" class="btn btn-light" asp-route-id="@std.Name">@std.Name</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-8">
            <div style="background-color:black" class="card mb-4">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div style="width:350px;height:300px">
                                <img class="card-img-top" style="max-width: 100%;max-height: 100%;object-fit: scale-down" src="~/images/ProductImage/10.jpg" alt="Card Image" />
                                <div class="carousel-caption"></div>
                            </div>
                        </div>
                        @foreach (var product in Model)
                        {
                            <div class="carousel-item ">
                                <div style="width:350px;height:330px">
                                    <img class="card-img-top" style="max-width: 100%;max-height: 100%;object-fit: scale-down" src="@product.Image" alt="Card Image" />
                                    <div class="carousel-caption"></div>
                                </div>
                            </div>
                        }
                    </div>

                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        @foreach (var product in Model)
        {

            <div class="col-4">
                <div class="card mb-4">
                    <a asp-action="Details" asp-controller="Home" class="btn btn-default " asp-route-id="@product.Id">
                        <div style="width:350px;height:330px">
                            <img class="card-img-top" style="max-width: 100%;max-height: 100%;object-fit: scale-down" src="@product.Image" alt="Card Image" />
                        </div>
                        <div class="card-body">
                            <div class="btn-group">
                                <label style="font-size:15px; color:steelblue">@product.Product_Name</label>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <label style="font-size:20px ;color:#a55313"><b>@product.Price</b><b>đ</b></label>
                                </div>

                            </div>
                            <div><i>Lượt xem: @product.ViewNumber</i></div>
                        </div>
                    </a>
                </div>
            </div>

        }



    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


