@model List<do_an_web.Models.Product>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-sm-12">
                            <img src="~/images/ProductImage/sell1.jpg"/>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-sm-12">
                            <img src="~/images/ProductImage/sell1.jpg" />

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-sm-12">
                            <img src="~/images/ProductImage/sell2.png"  />

                        </div>
                    </div>

                </div>

                <a href="#demo" class="left control-carousel hidden-xs" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#demo" class="right control-carousel hidden-xs" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Category</h2>
                <div class="panel-group category-products" id="accordian">
                    <!--category-productsr-->
                    @foreach (var std in ViewData["Category"] as IList<Category>)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <td>
                                        <a asp-action="Index" asp-controller="Home" class="btn btn-light" asp-route-id="@std.Id">@std.Name</a>
                                    </td>
                                </h4>
                            </div>

                        </div>
                    }
                </div><!--/category-products-->

                <div class="brands_products">
                    <!--brands_products-->
                    <h2>Brands</h2>
                    <div class="brands-name">
                        <ul class="nav nav-pills nav-stacked">
                            @foreach (var product in Model)
                            {
                                <li><a href="#"> <span class="pull-right">(@product.Amount)</span>@product.Product_Name</a></li>
                            }
                        </ul>
                    </div>
                </div><!--/brands_products-->

                <div class="price-range">
                    <!--price-range-->
                    <h2>Price Range</h2>
                    <div class="well text-center">
                        <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                        <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                    </div>
                </div><!--/price-range-->


            </div>
        </div>

        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center">Features Items</h2>
                @foreach (var product in Model)
                {
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="@product.Image" alt="" />
                                    <h3>@product.Product_Name</h3>
                                    <h2>@product.Price.ToString("N0") vnd</h2>
                                    <div><i>Lượt xem: @product.ViewNumber</i></div>
                                    <a asp-action="Details" asp-controller="Home" class="btn btn-default "><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <h3>@product.Product_Name</h3>
                                        <h2>@product.Price.ToString("N0") vnd</h2>
                                        <div><i>Lượt xem: @product.ViewNumber</i></div>
                                        <a asp-action="Details" asp-controller="Home" class="btn btn-default "><i class="fa fa-shopping-cart" asp-route-id="@product.Id"></i>Add to cart</a>
                                    </div>                             
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div><!--features_items-->
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


