@model List<do_an_web.Models.Product>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model.Count > 0)
{
    <table class="table table-striped" width="100%">
        <tr class="table-info">
            <th style="text-align:center; width:20%"></th>
            <th style="text-align:center">
                <label asp-for="@Model.FirstOrDefault().Product_Name"></label>
            </th>
            <th style="text-align:center">
                <label asp-for="@Model.FirstOrDefault().Price"></label>
            </th>
            <th style="text-align:center">
                <label asp-for="@Model.FirstOrDefault().Category.Name"></label>
            </th>
            <th style="text-align:center; width:20%"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="padding:50px;">
                <td>
                    <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.Image" width="100%" style="margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9" />
                    </a>
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => item.Product_Name)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => item.Price)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => item.Category.Name)
                </td>
                <td style="text-align:center">
               
                </td>
            </tr>
        }
    </table> 
}
else
{
    <div>No item added to the shopping cart...</div>
}


