@model IEnumerable<do_an_web.Models.Product>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
   <div class="col-6">
        <h2 class="text-info">Danh sách sản phẩm</h2>
   </div>
<div class="col-6 text-right">
    <a asp-action="Create" class="btn btn-info" ><i class="fas fa-plus"></i>&nbsp; Thêm sản phẩm mới</a>
</div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tên sản phẩm")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Detail)*@
                @Html.DisplayName("Chi tiết")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Price)*@
                @Html.DisplayName("Giá")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Category)*@
                @Html.DisplayName("Loại sản phẩm")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Amount)*@
                @Html.DisplayName("Số lượng")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ViewNumber)*@
                @Html.DisplayName("Lượt xem")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewNumber)
            </td>

            <td>
                <partial name="_TableButtonPartial" model="item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
