<!--Sinh viên thực hiện: Nguyễn Nhật Trường-->
@model do_an_web.Models.ViewModel.OrderViewModel


<form method="get">
    <br />
    <h2 class="text-info">Danh sách đặt hàng</h2>
    <br />
    <div class="container" style="height:150px; width:1111px ; background-color:aliceblue  ">
        <div class="col-12">
            <div class="row" style="padding-top:10px">
                <div class="col-2">
                    Tên khách hàng
                </div>
                <div class="col-3">
                    @Html.Editor("searchName", new { htmlAttribute = new { @class = "form-control" } })
                </div>
                <div class="col-2">

                </div>
                <div class="col-1">
                    Email
                </div>
                <div class="col-4">
                    @Html.Editor("searchEmail", new { htmlAttribute = new { @class = "form-control" } })
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-2">
                    Số điện thoại
                </div>
                <div class="col-3">
                    @Html.Editor("searchPhone", new { htmlAttribute = new { @class = "form-control" } })
                </div>
                <div class="col-2">

                </div>
                <div class="col-1">
                    Ngày đặt
                </div>
                <div class="col-4">
                    @Html.Editor("searchDate", new { htmlAttribute = new { @class = "form-control", @id = "datepicker" } })
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-8">

                </div>

                <div class="col-4">
                    <button type="submit" value="submit" name="Search" class="btn btn-primary form-control">
                        <i class="fas fa-search"></i> Tìm kiếm
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <table class="table table-striped border" cellspacing="1px">
            <tr class="table-info">
                <th>
                    @*@Html.DisplayNameFor(m => m.Orders.FirstOrDefault().Name)*@
                    @Html.DisplayName("Tên")
                </th>
                <th>
                    @*@Html.DisplayNameFor(m => m.Orders.FirstOrDefault().DateOrder)*@
                    @Html.DisplayName("Ngày đặt")
                </th>
                <th>
                    @*@Html.DisplayNameFor(m => m.Orders.FirstOrDefault().Email)*@
                    @Html.DisplayName("Email")
                </th>
                <th>
                    @*@Html.DisplayNameFor(m => m.Orders.FirstOrDefault().Phone)*@
                    @Html.DisplayName("Số điện thoại")
                </th>
                <th>
                    @*@Html.DisplayNameFor(m => m.Orders.FirstOrDefault().Status)*@
                    @Html.DisplayName("Tình trạng")
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model.Orders)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(m => item.Name)
                    </th>
                    <th>
                        @Html.DisplayFor(m => item.DateOrder)
                    </th>
                    <th>
                        @Html.DisplayFor(m => item.Email)
                    </th>
                    <th>
                        @Html.DisplayFor(m => item.Phone)
                    </th>
                    @if (item.Status == 0)
                    {
                        <th class="text-danger">
                            @Html.DisplayName("Chưa thanh toán")
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </th>
                    }
                    else
                    {
                        <th class="text-success">
                            @Html.DisplayName("Đã thanh toán")
                            <partial name="_TableButtonPartial" model="item.Id" />
                        </th>
                    }

                </tr>
            }

        </table>
    </div>
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn border" page-class-normal="btn btn-default active"
         page-class-selected="btn btn-success active" class="btn-group m-1 "></div>

</form>
@section Scripts
{
    <script>
        $(function () {
            $("#datepicker").datepicker({

            });
        });
    </script>
}