<!--Sinh viên thực hiện:Tôn Long Hoàng Lãm-->
@model IEnumerable<do_an_web.Models.Contact>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h1 class="text-info">Danh sách liên lạc</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                @Html.DisplayName("Tên")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Email)*@
                @Html.DisplayName("Email")
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Status)*@
                @Html.DisplayName("Tình trạng")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (item.Status == 0)
                {
            <td class="text-danger">
                
                @Html.DisplayName("Chưa xem")
            </td>
                }
                else
                {
            <td class="text-success">
                @Html.DisplayName("Đã xem")
            </td>
                }

                <td>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
