@model do_an_web.Models.ViewModel.ShoppingCartViewModel
@{
    ViewData["Title"] = "Index";
}

<form method="post" >
    <br />
    <h2 class="text-info">Giỏ hàng của bạn</h2>
    <br />
    @if(Model.Products.Count()>0)
    {
        
        <div class="container border border-secondary rounded" style="padding:15px">
            <div class="row">
                <div class=" col-8" style="border-right:1px solid #bbb9b9;">
                    <table class="table table-striped" width="100%">
                        <tr class="table-info">
                            <th style="text-align:center; width:20%"></th>
                            <th style="text-align:center">
                                <label asp-for="@Model.Products.FirstOrDefault().Product_Name">Tên sản phẩm</label>
                            </th>
                            <th style="text-align:center">
                                <label asp-for="@Model.Products.FirstOrDefault().Price">Giá</label>
                            </th>
                            <th style="text-align:center">
                                <label asp-for="@Model.Products.FirstOrDefault().Category.Name">Loại sản phẩm</label>
                            </th>
                            <th style="text-align:center; width:20%"></th>
                        </tr>
                        @foreach (var item in Model.Products)
                        {
                            <tr style="padding:50px">
                                <td>
                                    <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="@item.Image" width="100%" style="margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9" />
                                    </a>
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Product_Name)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayName("Category")
                                </td>

                                <td style="text-align:center">
                                    <button type="submit" class="btn btn-danger" asp-action="Remove" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        }
                    </table> 
                </div>
                <div class="col-4" style="padding-left=" 30px">
                    @{
                        float totalPrice = 0;
                        foreach (var item in Model.Products)
                        {
                            totalPrice += item.Price;
                        }

                    }
                    <div class="row">
                        <div class="col-12">
                            <label>Tên:</label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input asp-for="Order.Name" value=@User.Identity.Name class="form-control" />
                            <span asp-validation-for="Order.Name" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label>Số điện thoại :</label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input asp-for="Order.Phone" type="text" class="form-control" />
                            <span asp-validation-for="Order.Phone" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label>Email :</label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input asp-for="Order.Email" class="form-control" />
                            <span asp-validation-for="Order.Email" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label>Địa chỉ :</label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input asp-for="Order.Address" class="form-control" />
                            <span asp-validation-for="Order.Address" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label>Ngày đặt :</label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input asp-for="Order.DateOrder" value="@DateTime.Now" type="text" class="form-control"  readonly />
                            <span asp-validation-for="Order.DateOrder" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label>Hình thức thanh toán :</label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input asp-for="Order.PaymentMethod" class="form-control" value="COD" />
                            <span asp-validation-for="Order.PaymentMethod" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label>Tổng giá :</label>
                        </div>
                        <div class="col-12" style="padding-bottom:15px">
                            <input disabled asp-for="Order.TotalPrice" class="form-control" value="@totalPrice" />
                            <span asp-validation-for="Order.TotalPrice" class="text-danger"></span>
                        </div>
                        <div>
                            <input asp-for="Order.Status" class="form-control" value="0" hidden />
                            <span asp-validation-for="Order.Status" class="text-danger"></span>
                        </div>
                        <div class="col-12">

                            <button type="submit" id="btnPlaceOrder" class="btn btn-success" style="width:340px;padding:5px ;margin-bottom: 20px">Mua</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>Không có mục nào được thêm vào giỏ hàng ...</div>
    }
</form>
@section Scripts
{
    <script>
         $( function() {
             $("#datepicker").datepicker({
             
             });
  } );
    </script>
}