@model IEnumerable<do_an_web.Models.ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách nhân viên</h2>

    </div>
    <div class="col-6 text-right">
        <a asp-area="Identity" asp-page="/Account/RegisterAdmin" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Nhân viên mới</a>
    </div>
</div>
<br />
<div>
    <table class="table ">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(m => m.Name)*@
                    @Html.DisplayName("Tên")
                </th>
                <th>
                    @*@Html.DisplayNameFor(m => m.Email)*@
                    @Html.DisplayName("Email")
                </th>
                <th>
                    @*@Html.DisplayNameFor(m => m.PhoneNumber)*@
                    @Html.DisplayName("Số điện thoại")
                </th>
                <th>
                    Trạng thái
                </th>
            </tr>
        </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.PhoneNumber)
                    </td>
                    <td>
                        @if (item.LockoutEnd != null && item.LockoutEnd > DateTime.Now)
                        {
                            <lable class="text-danger">Đã vô hiệu hóa</lable>
                        }
                    </td>
             
                    <td>
                        @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                        {
                            <a type="button" class="btn btn-success" href="@Url.Action("Edit/"+item.Id).Replace("%2F","/")">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+item.Id).Replace("%2F","/")">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        }
                    </td>
                    <td>
                       
                    </td>

                </tr>
                
             }
            </table>
</div>




